
#userProfileScreenHeading h1,h3{
  margin-bottom: 0;
  /* color: rgba(255,255,255,.5); */
  /* color: #FFFFFF80; */
  /* color: #343a40; */
}

#userProfileScreenHeading h3{
  /* color: #919aa1; */
}

/* #userProfileScreenHeading {
  position: absolute;
  right: 0;
} */

.vl {
  /* border-left: 6px solid black; */
  border-left: 6px solid #343a40;
  /* border-left: 6px solid #919aa1; */
  /* border-left: 6px solid #9a9da0; */
  /* border-left: 6px solid rgb(255 255 255 / 50%); */
  /* border-left: 6px solid #343a40; */
  /* height: 20px; */
  height: inherit;
}